/*HEADER SECTION*/
body{
    font-size: 15px;
    position: relative;
}
h1, h2, h3, h4, h5{
    font-family: 'Roboto Condensed', sans-serif;
}
h1{
    font-size: 42px;
}
.section-top-info{
    text-align: right;
    border: 1px solid #f1f1f1;
    color: #818285;
    background-color: #f1f1f1;
    border-bottom: 1px solid #d5d5d5;
}
.section-navbar{
    margin-bottom: 1px;
    border-top: 1px solid #F0F0F0;
    margin-top: 1px;
    border-bottom: 2px solid #F0F0F0;
}
.list-brand{
    width: 150px;
    float: left;
    padding-top: 4px;
    margin-bottom: 0px;
}
.list-brand li{
    vertical-align: middle;
}
.list-brand li img{
    width: 165px;
}
.list-brand li span {
    padding-top: 5px;
    font-size: 25px;
    display: block;
    color: #be1e2d;
}
.nav-main li{
    list-style: none;
    display: inline-block;
    margin: 0px;
}
.nav-main li a:hover{
    text-decoration: none;
    color: #be1e2d;
}
.nav-main li.active{
    outline: 1px solid #dfdfdf;
    border-bottom: 5px solid #dfdfdf;
}
.nav-main li.active a{
    color: #be1e2d;
}
.nav-main li a{
    font-family: 'Roboto Condensed', sans-serif;
    color: #787878;
    font-size: 21px;
    padding: 19px;
    display: block;
    text-decoration: inherit;
}
.nav-main {
    float: right;
    margin-bottom: 0px;
    margin-top: -2px;
}
.list-contact-top{
    list-style: none;
    margin-top: 6px;
    margin-bottom: 4px;
}
.list-contact-top li{
    display: inline-block;
    padding-left: 15px;
    font-family: 'Roboto Condensed', sans-serif;
}
.list-contact-top li img{
    padding-right: 5px;
}
/*#HEADER SECTION*/

/*BANNER SECTION*/
.section-banner{
    background-color: #be1e2d;
    background-image: url('../images/congruent_red.jpg');
}
.block-slider .carousel-inner .item{
    text-align: center;
}
.block-slider .item img{
    float: left;
    margin-bottom: 70px;
    height: 455px !important;
    margin-top: 15px;
    width: auto;
}
@media(max-width:990px){
    .block-banner-product{
        height: 660px !important;
    }
}
.banner-product-image{
    float: left;
    margin-bottom: 70px;
    height: 455px !important;
    margin-top: 15px;
}
.block-banner-product{
    text-align: left;
    color: #fff;
    margin-left: 330px;
    height: 526px;
    margin-right: 50px;
    padding-top: 15px;
}
.block-banner-product h2{
    font-family: sans-serif;
    font-size: 65px;
    margin-top: 0px;
    color: #fff;
    text-transform: none;
}
.block-banner-product h3{ 
    font-size: 28px;
    margin-top: 2px;
    margin-bottom: 20px;
    color: #fff;
    font-weight: normal;
}
.block-banner-product h3:first-letter{
    text-transform: capitalize;
}
.list-product-shortdesc, .block-banner-product ul{
    font-size: 18px;
    list-style: none;
    padding-left: 0px;
}
@media(max-width: 760px){
    .list-product-shortdesc, .block-banner-product ul{
        display: none;
    }
}
.list-product-shortdesc li, .block-banner-product ul li{
    background-image: url('../images/badge.png');
    background-repeat: no-repeat;
    padding-left: 31px;
    background-size: 20px;
    line-height: 20px;
    background-position: 5px 2px;
    margin-bottom: 18px;
    padding-top: 2px;
}
.btn-detail{
    background-color: #FFF;
    color: #be1e2d;
    border: 0px;
    outline: 0px;
    padding: 7px 25px;
    margin-left: 7px;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    text-align: center
}
.btn-detail:hover{
    text-decoration: none;
    color: #be1e2d;
    background-color: #EFEFEF;
}
.block-banner-control{
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: table;
    background-color: #fff;
    padding-left: 0px;
    margin-bottom: 0px;
    left: 0px;
    margin-left: 0px;
}
.block-banner-control li{
    list-style: none;
    display: inline-block;
    width: 28% !important;
    height: auto !important;
    margin: 0px !important;
    border: 0px;
    border-radius: 0px;
    text-indent: 0px;
}
.block-banner-control li:last-child{
    width: 16% !important;
}
.block-banner-control li:last-child a{
    background-image: url('../images/btn-plus.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}
.block-banner-control li:last-child a span{
    font-size: 21px;
    line-height: 23px;
    padding-right: 15px;
    padding-left: 0px;
}
.block-banner-control li.active a{
    background-color: #dccdcf;
}
.block-banner-control li a{
    font-family: 'Roboto Condensed', sans-serif;
    padding: 17px 12px;
    height: 84px;
    display: block;
    text-align: center;
    background-color: #d8a2a7;
    color: #fff;
    font-size: 28px;
    text-decoration: none;
}
.block-banner-control li:not(:last-child) a{
    border-right: 1px solid #f1f1f1;
}
.block-banner-control li:not(:first-child) a{
    border-left: 1px solid #ea808a;
}
.block-banner-control li a img{
    height: 45px;
    display: inline-table;
}
.block-banner-control li a span{
    display: inline-table;
    vertical-align: middle;
    padding-left: 5px;
}
@media (max-width:768px){
    .block-banner-control li a{
        font-size: 20px;
    }
    .block-banner-control li:last-child a span{
        font-size: 16px;
    }
}
@media (max-width:632px){
    .block-banner-control li a{
        font-size: 15px;
    }
    .block-banner-control li:last-child a span{
        font-size: 14px;
    }
}
.block-banner-control li a:hover{
    text-decoration: none;
    background-color: #E7E7E7;
}
/*#BANNER SECTION*/

/*PROMOTION SECTION*/
.section-promotion{
    padding: 9px 0px;
    padding-bottom: 14px;
    border-bottom: 1px solid #DDDDDD;
    background-color: #f8f8f8;
}
.block-promotion{
    display: table-cell;
    padding-right: 18px;
}
.block-promotion img{
    width: 100%;
}
.block-cta{
    display: table-cell;
    padding: 5px;
    width: 387px;
    background-color: #fff;
    border: 1px solid #d3d3d3;
    vertical-align: middle;
}
.btn-cta{
    background-color: #77c9ef;
    margin-top: 3px;
    float: left;
    color: #fff;
    border: 1px solid #7aaec8;
    margin-left: 10px;
    margin-right: 5px;
}
.text-cta{
    line-height: 17px;
    padding-top: 3px;
    color: #7d7d7d;
}
/*#PROMOTION SECTION*/
/*WHY SECTION*/
.section-whychoose{
    margin-bottom: 40px;
}
.section-whychoose h1{
    color: #c11111;
    background-color: #fff;
    display: inline;
    padding: 0px 24px;client-slider
}
.block-why-header{
    text-align: center;
}
.block-why-header{
    margin: 30px 20% 30px 20%;
    background-image: url('../images/red-square.jpg');
    background-repeat: repeat-x;
    background-position: center;
}
.block-why{
    text-align: center;
    color: #616161;
}
.block-why h2{
    color: #000;
}
/*#WHY SECTION*/
/*FOOTER SECTION*/
.section-footer{
    background-color: #7f7f7f;
    color: #f7f7f7;
    background-image: url('../images/congruent_grey.jpg');
}
.list-news{
    list-style: none;
    padding-left: 0px;
}
.list-news li a{
    color: #f7f7f7;
    padding: 5px 0px;
    padding-bottom: 6px;
    display: block;
    text-decoration: none;
}
.list-news li:not(:last-child){
    border-bottom: 1px dotted #ADADAD;
}
.list-news li a:hover{
    color: #F9F496;
}
.block-bottom{
    padding: 12px;
    text-align: center;
    border-top: 1px solid #949494;
}
.news-time{
    margin: 0px;
    font-size: 10px;
    background-color: #939393;
    display: inline;
    padding: 0px 3px;
    border-radius: 3px;
    margin-left: 3px;
    color: #E0E0E0;
}
.section-client{
    background-color: #FFFFFF;
    border-top: 1px solid #DDDDDD;
}
.client-slider{
    height: 102px;
    margin-top: 25px;
    margin-bottom: 10px !important;
}
.client-slider button:before{
    color: #979797 !important;
}
.client-slider img{
    width: 100px;
    clip: rect(0px,60px,60px,0px);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.6;
    height: 100%;
}
.list-infocontact{
    list-style: none;
    padding-left: 0px;
}
.block-contact-info ul{
    list-style: none;
    padding-left: 0px;
}
.block-contact-info ul li a{
    color: #E8C2C2;
}
.block-contact-info ul li a:hover{
    text-decoration: none;
}
/*#FOOTER SECTION*/
/*PRODUCT LIST SECTION*/
.product-category h2{
    background-color: #be1e2d;
    color: #fff;
    padding: 5px 7px;
    display: inline-block;
    margin-bottom: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.page-header{
    margin: 30px 20% 30px 20%;
    background-repeat: repeat-x;
    background-position: center;
    text-align: center;
    border-bottom: 1px solid #eee;
}
.page-header h1{
    color: #c11111;
    background-color: #fff;
    display: inline;
    padding: 0px 24px;
}
.block-product {
    margin-bottom: 10px;
}
.block-product img{
    float: left;
    width: 150px;
    height: auto;
}
.product-info{
    padding-left: 165px;
    padding-bottom: 60px;
}
@media (max-width:768px){
    .product-info{
        padding-bottom: 130px;
    }
}
.product-name{
    margin-top: 0px;
    margin-bottom: 2px;
    color: #be1e2d;
    text-transform: uppercase;
}
.product-shortintro{
    margin-top: 0px;
    display: block;
    margin-bottom: 14px;
    word-break: break-word;
}
.product-keyword{
    font-weight: bold;
    margin: 5px 0px;
    font-size: 16px;
    color: #6B6B6B;
}
.product-keyword:first-letter {
    text-transform: uppercase;
}
.product-desc{
    margin-top: 0px;
    display: block;
    margin-bottom: 14px;
}
.product-hyperlink{
    background-color: #B3B3B3;
    color: #fff;
    text-decoration: none;
    padding: 3px 10px;
    margin-top: 6px;
    display: block;
    width: 114px;
}
.product-hyperlink:hover{
    background-color: #be1e2d;
    color: #fff;;
    text-decoration: none;
    padding: 3px 10px;
}
.page-product-list .content-body{
    margin-right: 340px;
}
.page-product-list #section-content{
    position: relative;
}
.list-docs{
    list-style: none;
    margin-top: 20px;
}
.list-docs li a{
    text-decoration: none;
    color: #808080; 
}
.list-docs li.active{
    border-left: 3px solid #be1e2d;
}
.list-docs li.active a{
    color:#be1e2d;
}

.list-docs li a:hover{
    color:#be1e2d;
}
/*#PRODUCT LIST SECTION*/
/*PRODUCT DETAIL SECTION*/
.block-sidebar h1{
    font-size: 22px;
}
.block-sidebar h2{
    color: #be1e2d;
}
.product-content h3, .product-content h4, .product-content h5{
    color: #be1e2d;
    font-size: 20px;
}
.page-product-detail .banner-product-image{
    margin-bottom: 0px;
}
.page-product-detail .block-banner-product{
    height: auto;
}
.product-content{
    margin-right: 400px;
    margin-bottom: 35px;
    word-break: break-word;
}
.product-header{ 
    background-color: #be1e2d;
    background-image: url('../images/congruent_red.jpg');
}
.block-sidebar{
    width: 350px;
    float: right;
}
.block-sidebar.affix{
    position: fixed;
    float: none;
    top: 5px;
    right: 111px;
}
.nav-sidebar{
    width: 350px;
    float: right;
    position: fixed;
    right: 140px;
    top: 208px;
}
@media (max-width:1450px){
    .nav-sidebar{
        right: 10px;
    }
}
@media (max-width:1100px){
    .nav-sidebar{
        display: none;
    }
    .page-product-list .content-body{
        margin-right: 0px;
    }
}
.nav-sidebar.affix{
    top: 20px;
}
.list-sidebar{
    list-style: none;
    padding-left: 0px;
}
.list-sidebar .product-image,
.list-sidebar img{
    float: left;
    width: 60px; 
}
.list-sidebar .product-info{
    padding-left: 85px;
    padding-bottom: 35px;
}
.list-sidebar .product-shortintro{
    font-weight: normal;
    font-size: 19px;
    color: #939393;
}
.list-sidebar .product-shortintro:first-letter{
    text-transform: capitalize;
}
/*#PRODUCT DETAIL SECTION*/
.nav-breadcrumb{
    padding: 9px;
}
.list-sidebar li a, .list-sidebar li a:hover{
    text-decoration: inherit;
    color:inherit;
}