/**
 * Arrows contained/wrapped within slick__arrow for easy moves.
 */
.slick__arrow {
  bottom: auto;
  height: 2px;
  left: 0;
  margin-top: -1px;
  pointer-events: none;
  position: absolute;
  top: 50%;
  width: 100%;
  z-index: 2;

  .slick--has-arrow-down & {
    bottom: 20px;
    height: 62px;
    left: 50%;
    margin: 0 0 0 -90px;
    top: auto;
    width: 180px;
  }
}

.slick-prev,
.slick-next,
.slick-down {
  border: 0;
  border-radius: 50%;
  display: block;
  font-size: 0;
  height: 42px;
  margin-top: -21px;
  pointer-events: auto;
  top: 50%;
  width: 42px;
  &:active,
  &:focus {
    box-shadow: none;
    outline: 0;
  }
  &:before,
  &:after {
    pointer-events: none;
  }
}

/* Overrides problematic hidden arrows at core slick.css */
.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
}

.slick-prev,
.slick-next {
  &:before {
    color: $color-2;
    @include font-size(36px);
  }
  &:hover:before {
    color: $color-1;
  }
}

.slick-down {
  background: $color-2;
  border: 0;
  border-radius: 50%;
  bottom: 0;
  cursor: pointer;
  display: block;
  height: 48px;
  left: 50%;
  margin: -24px 0 0 -24px;
  position: absolute;
  top: 50%;
  width: 48px;

  &:hover {
    background: $color-1;
  }

  /* Pure CSS arrow down, override by icon font accordingly */
  &:before,
  &:after {
    border-right: 3px solid;
    color: $white;
    content: '';
    display: block;
    height: 16px;
    margin-top: -6px;
    position: absolute;
    @include transform(rotate(135deg));
    right: 28px;
    top: 50%;
    width: 0;
  }

  &:after {
    right: 18px;
    @include transform(rotate(45deg));
  }

  &:hover:before,
  &:hover:after {
    color: $white;
  }
}
