/**
 * Thumbnails inside bullets.
 */
.slick__slide .slide__thumbnail--placeholder {
  @include visually-hidden;
}

// Default to anything but full width.
/* The main thumbnail container */
.slick__thumbnail {
  list-style: none;
  @include pie-clearfix;
	overflow: visible;
  position: absolute;
  text-align: center;
  visibility: hidden;
  white-space: nowrap;
  width: 100%;
  z-index: 3;

  // Overrides some theme UL spaces.
  .block & {
    margin-left: 0;
    padding: 0;
  }

  .slick-initialized & {
    visibility: visible;
  }

  li {
    overflow: hidden;
    position: relative;
    vertical-align: top;

    img {
      background: $white;
      border: 2px solid transparent;
      display: block;
      opacity: .6;
      @include transition($transition);
      /* Overrides core > 1.3.11, otherwise thumbnails are non-clickable */
      pointer-events: auto;
    }
    /* Individual thumbnail, adjust accordingly to actual thumbnail size */
    .slide__thumbnail {
      bottom: 140%;
      left: 50%;
      margin: -60px 0 0 -60px;
      min-width: 120px;
      opacity: 0;
      overflow: visible;
      position: absolute;
      visibility: hidden;
      width: 120px;
      z-index: -1;
      @include transition($transition);

      img {
        pointer-events: none;
      }

      &:after {
        border: 7px solid transparent;
        border-bottom: 0;
        border-top-color: $color-2;
        bottom: -7px;
        content: '';
        display: block;
        height: 0;
        left: 50%;
        margin: 0 0 0 -7px;
        position: absolute;
        width: 0;
      }
    }

    &:hover {
      overflow: visible;
      .slide__thumbnail {
        bottom: 120%;
        margin-top: -20px;
        opacity: 1;
        visibility: visible;
        @include transition-delay(0s);
        z-index: 3;
      }
    }

    &:hover,
    &.slick-active {
      img {
        border: 2px solid $color-2;
        opacity: 1;
        @include transition-delay(0s);
      }
    }
  }
}
