/**
 * Misc overrides core slick.
 */
/* Hide non-js lazy-loaded image to show <noscript> one instead, if the theme
supports no-js */
.no-js img.lazy {
  display: none !important;
}

.slick-initialized {
  overflow: visible;
}

.slick,
.slick__slide {
  position: relative;
}

// @todo verify the class is not removed, otherwise drop.
.slick-loading {
  // background: white url(./ajax-loader.gif) center center no-repeat;
  // Prevent all slides visible at once until ready.
  .slick-track {
    opacity: 0;
  }

  .slide__image {
    display: block;
    visibility: hidden;
  }

  .slick__slide {
    visibility: hidden;
  }
}
